.title2 {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    width: 100%;
    margin-top: 1.5rem;
  }
  .title2 h1,
  .title2 h4 {
    color: aliceblue;
    margin: 0;
    text-transform: uppercase;
  }
  .line {
    width: 40%;
    height: 2px;
    background-color: rgb(255, 255, 255);
    position: relative;
  }
  .line::after {
    content: "";
    width: 1rem;
    height: 1rem;
    border: 2px solid #f84018;
    border-radius: 50%;
    position: absolute;
    right: -20px;
    top: -8px;
  }
  /* content style   */
  .content {
    width: 95%;
    margin: auto;
  }
  .month {
    color: #e5e1da;
  }
  .monthD {
    color: #f84018;
  }
  .monthH {
    display: flex;
    width: fit-content;
    /* justify-content: space-between; */
    gap: 10px;
    text-transform: uppercase;
    /* margin-bottom: 10px; */
    align-items: center;
  }
  .rowData {
    display: flex;
    width: 100%;
  }
  
  .crEff,
  .AbCompDac {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0;
    letter-spacing: 1px;
  }
  .crEff {
    background-color: #006b63;
    width: 15%;
  }
  .crEff span {
    width: 50%;
    text-transform: uppercase;
    color: aliceblue;
  }
  .AbCompDac {
    background-color: #e5e1da;
    width: 85%;
  }
  .AbCompDac span {
    width: 25%;
    text-transform: uppercase;
    color: black;
  }
  /* 
  .first{
      background-color: #006b63;
    }
    .first span{
      color: aliceblue;
    }
    .firstacd {
      background-color: #e5e1da;
    }
    .firstacd span {
      color: black;
    }
     */
     .monthH input {
      border-radius: 6px;
      font-family: inherit;
      border: 1px solid transparent;
      color: #f84018;
      background-color: transparent;
      font-weight: bold;
      text-align: center;
      padding: 10px 0;
      font-size: 16px;
      outline: none;
    }
     .monthH input[type="month"]::-webkit-calendar-picker-indicator {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin-left: 5px;
      cursor: pointer;
      background-color: #f84018;
      padding: 5px;
    }
    .monthH input[type="month"]::-webkit-calendar-picker-indicator:hover {
      transform: scale(1.2);
      background-color: #fd7d61;
    }
    .noCrewS {
      color: #c9c9c9;
      text-transform: uppercase;
    }